extends layout

block content
  .container-fluidZZ
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    div
      text filter :
      a(href="/filterPrice") By Price |
      a(href="/filterName") By Name

    ul
        li Brand
         a(href="/categorize/brand/Nike") Nike
         a(href="/categorize/brand/Geox") geox
        li Price
         a(href="/categorize/price/0") <50$
         a(href="/categorize/price/50") 50$<100$
         a(href="/categorize/price/100") 100$<$150
         a(href="/categorize/price/150") 150$<$200
         a(href="/categorize/price/200") 200$<$250

        li size
          a(href="/categorize/size/42") 42
          a(href="/categorize/size/43") 43
          a(href="/categorize/size/40") 40

        li gender
          a(href="/categorize/gender/woman") woman
          a(href="/categorize/gender/male") man


    .row
      - each result in tabuser
        div
          img(src='img/'+result.attributes.img)
          ul.liste
            li='name : ' +result.attributes.name
            li='brand : '+result.attributes.brand
            li='size : '+result.attributes.size
            li='price : '+result.attributes.price
            li='gender : '+result.attributes.gender
            li='description : '+result.attributes.desc
            a(href='/'+ result.attributes.id)<button class="btn btn-primary">Ajouter au panier</button>
