extends layout

block content
  .container-fluidZZ
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    a(href="/filterPrice") By Price |
    a(href="/filterName") By Name

    .row
    - each result in test
      div
        img(src='img/'+result.attributes.img)
        ul
          li='name : ' +result.attributes.name
          li='brand : '+result.attributes.brand
          li='size : '+result.attributes.size
          li='price : '+result.attributes.price
          li='gender : '+result.attributes.gender
          li='description : '+result.attributes.desc
